body{
    background-color: #ccffcc;
}

input.icon{
    width: 60px;
    height: 70px;
}

div.navbar{
    background-color: #009900;
}

div{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}    

img{
    width: 500px;
    margin: 5px;
}
